requests
pandas
apache-airflow
apache-airflow-providers-docker
python-dotenv
# apache-airflow==${AIRFLOW_VERSION} --constraint ${CONSTRAINT_URL}
# pyspark==${PYSPARK_VERSION}
# apache-airflow-providers-apache-spark